body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
  margin-right: auto;
}
time,
em {
  display: block;
}

#map {
  width: 100%; /* Adjust width to your desired size */
  height: 100%; /* Adjust height to your desired size */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: subtle shadow for effect */
  border-radius: 8px; /* Optional: rounded corners */
}

#map svg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  pointer-events: auto;
}

#map circle,
.legend > div {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}

#map circle {
  fill: var(--color)
}

.legend {
  display: flex;
  gap: 1em;
  align-items: center;
  margin-block: 1em;
}

.legend-label {
  font-weight: bold;
  margin-right: 0.5em;
}

.legend > div {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.legend > div::before {
  content: "";
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  border-radius: 2px;
  background-color: color-mix(
    in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  border: 1px solid rgba(0, 0, 0, 0.2);
}